.header__lang-item{
    margin-right: 19px;
}
.header__lang-item:last-child {
    margin-right: 0;
}
@media screen and (max-width: 768px){
    .header__lang-item{
        padding-top: 18px;
        padding-bottom: 6px;
    }
}
@media screen and (max-width: 320px){
    .header__lang-item{
        padding-top: 14px;
        padding-bottom: 8px;
    }
}