.intro__item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 0;
}
@media (max-width:320px){
    .intro__item{
        text-align: start;
        padding-left: 16px;
        padding-right: 16px;
    }
}

