.place__image{
    grid-row: 2/3;
    object-fit: cover;
    max-width: 100%;
}
@media screen and (max-width:825px){
    .place__image{
        max-width: 350px;
    }
}


@media screen and (max-width:768px){
    .place__image{
        max-width: 340px;
    }
}

@media screen and (max-width:640px){
    .place__image{
        max-width: 100%;
    }
}

@media screen and (max-width:438px){
    .place__image{
        max-width: 90%;
    }
}

@media screen and (max-width:320px){
    .place__image{
        margin-top: 32px;
        padding: 0;
        width: 288px;
    }
}
