.intro__list{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 0;
    padding-left:0;
}
