.place__paragraph-main{
    grid-row: 2/3;
    grid-column:2/3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}
@media (max-width:768px){
    .place__paragraph-main{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
    }
}

@media (max-width:320px){
    .place__paragraph-main{
        margin-left: 0;
        margin-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }  
}