.place__paragraph-double{
    margin-top: 26px;
    margin-bottom: 0;
    color: #FFFFFF;
}

@media (max-width:320px){
    .place__paragraph_double{
        margin-top: 25px;
        padding-left: 16px;
        padding-right: 16px;
    }
}