.place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin-bottom: 12px;
}

@media (max-width:320px){
    .place__url-heading{
        margin-top: 32px;
        padding-left: 16px;
    }
}
